// FORMS

.gform_wrapper {
  margin-top: 30px !important;
  .gform_body {
    ul {
      li {
        input {
          font-family: 'Open Sans', sans-serif !important;
          font-size: 15px !important;
        }
        select {
          color: #6c757d;
          font-size: 15px;
          border: 1px solid #cccccc;
          border-radius: 0px;
          background-color: #ffffff;
          height: 38px;
        }
        textarea {
          border: 1px solid #cccccc;
        }
      }
    }
  }
}

.gform_wrapper ul li.gfield {
  margin-top: 0px !important;
}

// Top margin from hidden field
.gform_wrapper li.hidden_label input,
.gform_wrapper li.hidden_label select {
  margin-top: 2px !important;
}

.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input,
.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text],
.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container select {
  margin-bottom: 2px !important;
}

// Mailing List Checkbox
.gfield_checkbox li input,
.gfield_checkbox li input[type=checkbox],
.gfield_radio li input[type=radio] {
  margin-top: 0px !important;
  margin-right: 4px;
}

.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px !important;
}
